*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 24vh;
    display: flex;
    justify-content: space-between;
    padding:0 6vw;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    gap: 28px;
}
nav a{
    color: #030903;
    font-weight: 600;
}
nav a:hover{
    color: #d14fa0;
}
.visit{
    border: 2px solid ;
    border-radius: 16px;
    padding: 14px 30px;
    

}
.visit:hover{
    background: linear-gradient(160deg, rgb(108, 30, 178), rgb(209, 79, 160));
    color:aliceblue;
    
}
.know{
    position: relative;
   
}
.know:hover .box{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    position: absolute;
    top: 26px;
    display: none;
    padding: 16px;
    height: 160px;
    width: 178px;
    border-radius: 12px;
    border: 3px solid #d5ecff;
    background-color: #F4FAFF;
    color: #030903;
}
.video{
    height: 100vh;
    width: 100%;
    z-index: -999;
    position: absolute;
    top: 0;
    object-fit: cover;
}
section{
    height: 76vh;
    
}
main{
    -webkit-box-shadow: inset 0px -50px 15px 39px rgba(247,245,245,0.84); 
box-shadow: inset 0px -50px 15px 39px rgba(247,245,245,0.84);
}
section{
    display: flex;
    flex-direction: column;
    padding-top:98px ;
    padding-left: 13vw;
    gap: 20px;
}
section h1 {
    font-size: 52px;

}
section p{
    font-size:22px
}
.category{
    padding: 10vh;
    text-align: center;

}
.category h1{
    padding-bottom: 2vh;
    font-size: 52px;
}